/vendor
/node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
auth.json
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*
/public/storage
# public/build ko Git me allow kiya hai taaki Render par npm build skip ho sake
# /public/build
.DS_Store
Thumbs.db
.idea
.vscode
